.todo {
  margin: 20px 0;
  span {
    padding: 10px 0 0 5px;
  }
}

.title {
  text-align: center;
  background-color: #7b68ee;
  padding: 40px 0;
  font-weight: bold;
  position: relative;
  color: white;
  .name {
    font-size: 40px;
  }

  .username {
    font-size: 32px;
  }
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .info {
    margin-left: 40px;
    margin-bottom: 10px;
    padding: 20px;
    width: 400px;

    .name,
    .username,
    .email,
    .address,
    .phone,
    .website,
    .company {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    span {
      font-weight: bold;
    }

    .align-right {
      font-weight: normal;
      text-align: right;
    }
  }
}

.tasks {
  padding-left: 40px;

  .mat-slide-toggle {
    margin-right: 20px;
  }
}

.back {
  color: white;
  position: absolute;
  left: 50px;
  top: 50px;
}

mat-icon.back {
  display: none;
}

@media (max-width: 658px) {
  .content {
    flex-wrap: wrap;
  }

  .avatar {
    margin-bottom: 40px;
  }

  .title {
    .name {
      font-size: 24px !important;
    }

    .username {
      font-size: 18px !important;
    }
  }

  .back {
    top: 40px;
  }

  .info {
    width: 300px !important;
  }

  .address span {
    margin-right: 10px;
  }

  mat-icon.back {
    display: block !important;
    width: 100px;
    height: 100px;
  }

  a.back {
    display: none;
  }
}

@media (max-width: 400px) {
  .info {
    width: 250px !important;
    padding: 5px !important;
  }

  .back {
    left: 5px;
  }

  .info {
    margin-left: 0 !important;
  }
}
