<div class="title">
  <mat-icon routerLink="/" class="back">arrow_back</mat-icon>
  <a routerLink="/" class="back">Back</a>
  <div class="name">{{ user?.name }}</div>
  <div class="username">{{ user?.username }}</div>
</div>

<div class="fixed-container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Profile">
      <div class="content">
        <div class="avatar">
          <img src="https://via.placeholder.com/120x180" alt="avatar" />
        </div>
        <div class="info">
          <div class="name"><span>Name:</span>{{ user?.name }}</div>
          <div class="username">
            <span>Username:</span> {{ user?.username }}
          </div>
          <div class="email"><span>Email:</span>{{ user?.email }}</div>
          <div class="address">
            <span>Address:</span
            ><span class="align-right"
              >{{ user?.address.city }}, {{ user?.address.street }},
              {{ user?.address.suite }}</span
            >
          </div>
          <div class="phone"><span>Phone:</span> {{ user?.phone }}</div>
          <div class="website"><span>Website:</span> {{ user?.website }}</div>
          <div class="company">
            <span>Company: </span>{{ user?.company.name }}
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Tasks">
      <div class="tasks">
        <div class="todo" *ngFor="let todo of todos">
          <mat-checkbox [checked]="todo.completed" disabled> </mat-checkbox>
          <span>{{ todo.id }}:&nbsp;</span>
          <span>{{ todo.title }}</span>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
