/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.fixed-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.mat-sort-header-container {
  justify-content: center;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 0 !important;
  width: 200px !important;
}

.mat-column-name,
.mat-column-username,
.mat-column-email {
  width: 200px !important;
}

.mat-column-address {
  width: 300px !important;
}

.mat-cell {
  font-size: 16px !important;
}

div.mat-sort-header-sorted,
div.mat-sort-header-arrow {
  color: white;
  font-weight: bold;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.2em 0 !important;
}

th.mat-header-cell {
  font-weight: normal !important;
  color: white;
  font-size: 16px !important;
}

.mat-form-field-infix {
  border-top: 0 !important;
}

.footer {
  height: 40px;
  width: 100%;
  background-color: #7b68ee;
  flex: 0 0 auto;
}

@media (max-width: 800px) {
  .block .mat-form-field-flex,
  .block .mat-form-field-underline {
    width: 200px !important;
  }

  .footer {
    display: none;
  }
}
