:host {
  flex: 1 0 auto;
}

table {
  width: 1100px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #7b68ee;
}

.column1 {
  width: 200px;
}

.clear {
  margin: 10px;
  cursor: pointer;
}

img {
  max-width: 120px;
  padding: 20px;
}

th.mat-header-cell {
  text-align: center;
  background-color: #7b68ee;
  font-weight: bold;
  font-size: 16px;
}

.block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

span.pointer {
  color: #7b68ee;
}

.mat-elevation-z8 {
  width: 1100px;
}

.sort-select {
  display: none;
}

form {
  display: flex;
}

.topic {
  font-size: 32px;
  padding-left: 20px;
}

@media (max-width: 800px) {
  .sort-select {
    display: block !important;
  }

  .block {
    margin-bottom: 0 !important;

    .topic {
      margin-bottom: 20px;
    }
  }

  .table-block {
    overflow-x: scroll;
    margin-left: 5px;
  }

  .block {
    flex-direction: column;
    padding-left: 10px;
  }

  .header {
    display: none;
  }
}
