<div class="header"></div>
<div class="fixed-container">
  <div class="block">
    <div class="topic">Users</div>
    <form action="" [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label> Select a company</mat-label>
        <mat-select
          (selectionChange)="applyFilter($event)"
          formControlName="select"
        >
          <mat-option *ngFor="let company of state.companies" [value]="company">
            {{ company }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="clear" *ngIf="state.selectedCompany" (click)="clear()">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >close</mat-icon
        >
      </div>
    </form>

    <mat-form-field appearance="fill" class="sort-select">
      <mat-label> Sort</mat-label>
      <mat-select
        [(value)]="state.selectedColumn"
        (selectionChange)="sortSelect()"
      >
        <mat-option *ngFor="let item of columnsForSort" [value]="item">
          {{ item }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="table-block">
    <div class="mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        [matSortActive]="state.sortActive"
        [matSortDirection]="state.sortDirection"
        (matSortChange)="sortChange($event)"
      >
        <ng-container matColumnDef="avatar" class="column1">
          <th mat-header-cell *matHeaderCellDef>Avatar</th>
          <td
            mat-cell
            *matCellDef="let element"
            [routerLink]="['/user', element.id]"
          >
            <img
              class="pointer"
              src="https://via.placeholder.com/120x180"
              alt="avatar"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td
            mat-cell
            *matCellDef="let element"
            [routerLink]="['/user', element.id]"
          >
            <span class="pointer">{{ element.name }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
          <td mat-cell *matCellDef="let element">
            {{ element.address.city }}, {{ element.address.street }},
            {{ element.address.suite }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[3, 6, 10]"
        [pageSize]="state.pageSize"
        [pageIndex]="state.pageIndex"
        showFirstLastButtons
        #paginator
      ></mat-paginator>
    </div>
  </div>
</div>
